* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, white, blueviolet, white);
  over-flow: hidden;
  background-repeat: no-repeat;
}

.pagination ul {
  list-style: none;
  font-size: clamp(1.5vw, 2rem, 1.4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  border-radius: 50px;
  padding: 1rem;
  font-weight: bold;
}
ul li {
  cursor: pointer;
  padding: min(1.5rem, 1.5vw);
  text-align: center;
  transition: all 0.3s;
}
.dots {
  cursor: default;
}
span {
  display: block;
}
.prev span,
.next span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
span ion-icon {
  font-size: 1.5rem;
}
.prev,
.next {
  background-color: violet;
  padding: min(1.5rem, 1.5vw);
}

ul .prev {
  border-radius: 25px 5px 5px 25px;
}
ul .next {
  border-radius: 5px 25px 25px 5px;
}
.num {
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
}
ul .active,
ul .num:hover,
ul .btn:hover {
  background-color: violet;
  color: white;
}

#par {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}
